<%= stylesheet_link_tag 'index' %>

<div class="card-container">
  <% @articles.each do |article| %>
    <div class="card">
      <% unless article.archived? %>
        <div class="card-row">
          <div class="date">
            <p><%= article.created_at.strftime("%B %d, %Y") %></p>
          </div>
          <div class="card-body">
            <h3><%= link_to article.title, article %></h3>
            <p><%= article.body %></p>
            <span>- Posted By <%= article.user ? article.user.username : "Unknown" %></span>
          </div>
        </div>
      <% end %>
    </div>
    <hr class="hr">
  <% end %>
</div>
