<%= stylesheet_link_tag 'application' %>

<div class="article-container">
  <h1><%= @article.title %></h1>

  <p><%= @article.body %></p>

  <ul>
    <li><%= link_to "Edit", edit_article_path(@article), class: "btn btn-success" %></li>
    <li><%= link_to "Destroy", article_path(@article), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    }, class: "btn btn-danger" %></li>
  </ul>

  <h2>Comments</h2>
  <div class="comments">
    <%= render @article.comments %>
  </div>

  <div class="comment-form">
    <h2>Add a comment:</h2>
    <%= render 'comments/form' %>
  </div>
</div>
